{% extends 'base.html.twig' %}

{% block body %}
    <div class="container d-flex flex-column justify-content-center">
        <a href="{{ path('start_new_game') }}" class="btn btn-success">Start new game!</button>
    </div>
{% endblock %}